.logo_nav {
  background: url(../img/logo-music.png) no-repeat scroll center left;
  background-color: #f9f9ff;
  background-size: contain;
  
}
.row_logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 20px;
  padding: 10px;

}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
