.logo_nav {
  background: url(../img/logo-music.png) no-repeat scroll center left;
  background-color: #f9f9ff;
  background-size: contain;
  
}
.row_logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 20px;
  padding: 10px;

}

/* Inicio Estilos del blog
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* 
.blog_texto_izquierdo {
    margin-bottom: 40px;
  } 

  .blog_texto_izquierdo .texto_blog {
    padding-left: 100px;
    padding-right: 40px;
    padding-top: -40px;
    padding-bottom: 0px;   
    position: absolute;
    left: 40px;
    top: 40px;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int {
    background: #fff;
    margin-top: -100px;
    position: relative;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
    padding: 20px;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int .categoria {
    margin-bottom: 25px;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int .categoria .categoria_btn {
    background: #f9f9ff;
    color: #000;
    border: 1px solid #e9e9e9;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int h4 {
    font-size: 24px;
    font-family: "Inconsolata", monospace;
    line-height: 30px;
    color: #000;
    padding-right: 20px;
    margin-bottom: 17px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int h4:hover {
    color: #6f6fff;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int p {
    color: #777777;
    margin-bottom: 22px;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int .date a {
    color: #777777;
    font-size: 12px;
    font-weight: normal;
    font-family: "Inconsolata", monospace;
    margin-right: 25px;
    -webkit-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int .date a:hover {
    color: #6f6fff;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int .date a i {
    padding-right: 5px;
  }
  
  .blog_texto_izquierdo .texto_blog .texto_blog_int .date a:last-child {
    margin-right: 0px;
  }
  
  .blog_texto_izquierdo.small .texto_blog .texto_blog_int {
    margin-top: -100px;
  }
  
  .blog_texto_izquierdo.small .texto_blog .texto_blog_int .categoria .categoria_btn {
    display: block;
    width: 86px;
    margin-bottom: 12px;
  }
  
  .blog_texto_izquierdo.small .texto_blog .texto_blog_int h4 {
    font-size: 24px;
    line-height: 26px;
    padding-right: 0px;
  }
  
  .row.m0.post_categoria_item {
    margin-bottom: 40px;
  } */
/* Fin Estilos del blog
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */



/* Inicio Blog texto izquierdo
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
.home_banner_area {
    background: url(../img/tape.jpg) no-repeat scroll center left;
    background-color: #f9f9ff;
    background-size: contain;
  }
  
  .home_banner_area .blog_text_slider {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
  }









/* Inicio Blog texto izquierdoooo
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
  .blog_item {
    margin-bottom: 40px;
  }
  
  .blog_info {
    padding-top: 30px;
  }
  
  .blog_info .post_tag {
    padding-bottom: 20px;
  }
  
  .blog_info .post_tag a {
    font: 300 14px/21px "Inconsolata", monospace;
    color: #000;
  }
  
  .blog_info .post_tag a:hover {
    color: #777777;
  }
  
  .blog_info .post_tag a.active {
    color: #6f6fff;
  }
  
  .blog_info .blog_meta li a {
    font: 300 14px/20px "Inconsolata", monospace;
    color: #777777;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block;
  }
  
  .blog_info .blog_meta li a i {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
    line-height: 20px;
    vertical-align: middle;
  }
  
  .blog_info .blog_meta li a:hover {
    color: #6f6fff;
  }
  
  .blog_post img {
    max-width: 100%;
  }
  
  .blog_details {
    padding-top: 20px;
  }
  
  .blog_details h2 {
    font-size: 24px;
    line-height: 36px;
    color: #000;
    font-weight: 600;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .blog_details h2:hover {
    color: #6f6fff;
  }
  
  .blog_details p {
    margin-bottom: 26px;
  }
  
  .view_btn {
    font-size: 14px;
    line-height: 36px;
    display: inline-block;
    color: #000;
    font-weight: 500;
    padding: 0px 30px;
    background: #fff;
  }
  
  .blog_right_sidebar {
    border: 1px solid #e9e9e9;
    padding: 30px;
    background: #f9f9ff;
  }
  
  .blog_right_sidebar .widget_title {
    font-size: 21px;
    line-height: 25px;
    text-align: left;
    color: #000;
    padding: 6px 0px 6px 50px;
    margin-bottom: 30px;
    position: relative;
    font-weight: bold;
  }
  
  .blog_right_sidebar .widget_title:before {
    content: "";
    width: 30px;
    height: 4px;
    background: #6f6fff;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 1px solid #e9e9e9;
    width: 100%;
    font-weight: 300;
    color: #777777;
    padding-left: 20px;
    border-radius: 0px;
    z-index: 0;
    background: #ffffff;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control.placeholder {
    color: #777777;
    font-weight: normal;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
    color: #777777;
    font-weight: normal;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
    color: #777777;
    font-weight: normal;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
    color: #777777;
    font-weight: normal;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #777777;
    font-weight: 700;
    padding: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .blog_right_sidebar .author_widget {
    text-align: left;
  }
  
  .blog_right_sidebar .author_widget h4 {
    font-size: 18px;
    line-height: 20px;
    color: #000;
    margin-bottom: 5px;
    margin-top: 30px;
  }
  
  .blog_right_sidebar .author_widget p {
    margin-bottom: 10px;
  }
  
  .blog_right_sidebar .author_widget .social_icon {
    padding: 7px 0px 0px;
  }
  
  .blog_right_sidebar .author_widget .social_icon a {
    font-size: 14px;
    color: #000;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .blog_right_sidebar .author_widget .social_icon a + a {
    margin-left: 20px;
  }
  
  .blog_right_sidebar .author_widget .social_icon a:hover {
    color: #6f6fff;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-left: 20px;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3 {
    font-size: 14px;
    line-height: 20px;
    color: #000;
    margin-bottom: 4px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body h3:hover {
    color: #6f6fff;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item .media-body p {
    font-size: 12px;
    line-height: 21px;
    margin-bottom: 0px;
  }
  
  .blog_right_sidebar .popular_post_widget .post_item + .post_item {
    margin-top: 20px;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li {
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-bottom: 12px;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li a {
    font-size: 16px;
    line-height: 20px;
    color: #777;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li a p {
    margin-bottom: 0px;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li + li {
    padding-top: 15px;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li:hover {
    border-color: #6f6fff;
  }
  
  .blog_right_sidebar .post_category_widget .cat-list li:hover a {
    color: #6f6fff;
  }
  
  .blog_right_sidebar .newsletter_widget {
    text-align: center;
  }
  
  .blog_right_sidebar .newsletter_widget .form-group {
    margin-bottom: 8px;
    display: block !important;
    position: relative;
    width: 100%;
  }
  
  .blog_right_sidebar .newsletter_widget .form-group .input-group {
    display: block;
    width: 100%;
  }
  
  .blog_right_sidebar .newsletter_widget .input-group-prepend {
    margin-right: -1px;
  }
  
  .blog_right_sidebar .newsletter_widget .input-group-text {
    background: #fff;
    border-radius: 0px;
    vertical-align: top;
    font-size: 12px;
    line-height: 36px;
    padding: 6px 0px 0px 15px;
    border: 1px solid #eeeeee;
    border-right: 0px;
    height: 50px;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control {
    font-size: 14px;
    line-height: 24px;
    color: #777;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    height: 50px;
    display: block;
    width: 100%;
    padding: 0px 50px 0px 15px;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control.placeholder {
    color: #777;
    font-size: 14px;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control:-moz-placeholder {
    color: #777;
    font-size: 14px;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control::-moz-placeholder {
    color: #777;
    font-size: 14px;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control::-webkit-input-placeholder {
    color: #777;
    font-size: 14px;
  }
  
  .blog_right_sidebar .newsletter_widget .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .blog_right_sidebar .newsletter_widget .bbtns {
    background: #000000;
    color: #fff;
    font-size: 14px;
    line-height: 40px;
    display: inline-block;
    font-weight: 500;
    padding: 0px 14px 0px 14px;
    border-radius: 5px;
    position: absolute;
    right: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;
  }
  
  .blog_right_sidebar .newsletter_widget .bbtns i {
    position: relative;
    top: 2px;
  }
  
  .blog_right_sidebar .newsletter_widget .text-bottom {
    font-size: 12px;
  }
  
  .blog_right_sidebar .tag_cloud_widget ul li {
    display: inline-block;
  }
  
  .blog_right_sidebar .tag_cloud_widget ul li a {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 0px 13px;
    margin-bottom: 8px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #000;
    font-size: 12px;
  }
  
  .blog_right_sidebar .tag_cloud_widget ul li a:hover {
    background: #6f6fff;
    color: #fff;
  }
  
  .blog_right_sidebar .br {
    width: 100%;
    height: 1px;
    background: #e9e9e9;
    margin: 30px 0px;
  }
  
  .blog-pagination {
    padding-top: 25px;
  }
  
  .blog-pagination .page-link {
    border-radius: 0;
  }
  
  .blog-pagination .page-item {
    border: none;
  }
  
  .page-link {
    background: transparent;
    font-weight: 400;
  }
  
  .blog-pagination .page-item.active .page-link {
    background-color: #000;
    border-color: transparent;
    color: #fff;
  }
  
  .blog-pagination .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #8a8a8a;
    border: none;
  }
  
  .blog-pagination .page-link .lnr {
    font-weight: 600;
  }
  
  .blog-pagination .page-item:last-child .page-link,
  .blog-pagination .page-item:first-child .page-link {
    border-radius: 0;
  }
  
  .blog-pagination .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6f6fff;
    border-color: #eee;
  }