img .logo{
    border-style: none;
    margin-left: 100px;
  }

img.z-depth-5.responsive-img.logo{
    border-style: none;
    margin-left: 100px;
    margin-top: 40px;
}

h5.slogan{
    margin-left: 5%;    
}

nav.nav-extended .nav-content .subtitle {
    position: relative;
    line-height: normal;
    margin-bottom: 5%;
  }

  .fixed-action-btn {
    position: relative;
    right: 0px;
    bottom: -20px;
    padding-top: 15px;
    z-index: 997;
}

body::after {
  background: url('../img/fondo.jpg');
  background-repeat: no-repeat;
  background-color: lightpink;
  content: "";
  opacity: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  z-index: -1;   
}

.logo-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}

.dropdown-content {
  background-color: #fff;
  margin: 0;
  display: none;
  min-width: 170px;
  overflow-y: auto;
  opacity: 0;
  position: absolute;
  left: -10px;
  top: -20px;
  z-index: 9999;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.fijo {
  position: sticky;  
}

.vert-card {
  position: relative;
  display: block;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
  max-width: 29%;  
}

